# dependencies
node_modules/

# next.js
.next/
out/
build/
standalone/

# env
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# tools
.vercel/
.turbo/
coverage/
dist/

# os/editor
.DS_Store
.vscode/